.table {
  padding: 3rem 1rem 3rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  color: var(--accent-100);
  text-align: left;
}

.tableheading {
  text-align: left;
  padding-left: 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--primary-300);
}

.tablecell {
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.tablerow:hover {
  background-color: var(--primary-300);
  color: var(--bg-100);
}

.tableheading:first-child {
  padding-left: 0.5rem;
}

.td:first-child {
  padding-top: 2rem;
}
