.container {
  /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
  background-color: var(--bg-100);
  background-size: cover;
  min-height: 100vh;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--accent-100);
  letter-spacing: 0.4rem;
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
}

.heading2 {
  color: var(--primary-200);
}

.subheading {
  color: var(--accent-100);
  padding-left: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.menu {
  margin-top: 1rem;
  margin-left: 4rem;
  width: 75rem;
  border: 1px solid var(--accent-100);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: var(--accent-100);
}

/* font-family: "Poppins", sans-serif;
font-weight: 600; */
